@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f1f6fc31;
}
section, footer{
    padding: 54px 0px;
    /* text-align: center; */
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn, .animated-btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.animated-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color: #3580db;
}
@keyframes animate-outline {
    from{
        outline:  0px solid #4f9bf98a;
    }
    to{
        outline:  15px solid #4f9bf900;
    }
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* É o que faz o efeito de movimento da imagem do container */

}


/* FAZENDO OS BOTÕES */
nav{
    display: flex; /* deixa as paradas um do lado do outro */
    align-items: center; /*alinha os itens no meio do nav*/
    justify-content:  space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul a{ /*Modifica a lista */
    color: white;
    margin: 0px 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.2s;
}
nav ul a:hover::after{
    width: 100%;
}
/* FINALIZANDO OS BOTÕES */


.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 90px;
    color: whitesmoke;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0px;
}

/* FACA MAIS */

.faca-mais .container{
    display: flex;
    align-items: center;
    text-align: center;
}

.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text h3{
    font-size: 50px;
}
.faca-mais .faca-mais-text p{
    margin: 10px 0 15px 0;
}
faca-mais .faca-mais-img{
    width: 50%;
}

.faca-mais .faca-mais-img img{
    width: 100%;
}

/* DEPOIMENTOS */
.depoimentos h3{
    text-align: center;
}
.depoimentos p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
.cards{
    display: flex;
    justify-content: center;
}

.depoimentos .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .name-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}
.depoimentos .card-item .estrelas{
    margin: 15px;
    border-top: 2px solid #71767a23;
}
.depoimentos .card-item .estrelas i{
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;   
    transition: 0.3s;
}
.depoimentos .card-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}
.depoimentos .card-item:hover .name-user, 
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
    color: whitesmoke;
}
/* FIM DE DEPOIMENTOS */
/* CLIENTES */
.clientes h3, p{
    text-align: center;
}
.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* FIM CLIENTES */
/* INICIO FOOTER */
.footer{
    background-color: #4f9cf9;
    text-align: center;
}
.footer i{
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.footer p{
    margin-top: 10px;
    color: white;
}
/* FIM DO FOOTER */